<article class="display">
  <h1 class="display-title">Photography</h1>
  <p class="display-body">Here is all the wonderful photographs that has been submitted!</p>
  <div class="artdisplay">
    <% if (photographs.length > 0) { %>
    <% for(i=0; i < photographs.length; i++) { %>
      <img src="/images/artwork/<%= photographs[i]%>" alt="Photographs <%= i %>">
    <% } %>
    <% } %>
  </div>
</article>