<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/navbar.ejs %>
  </head>
  <body id="<%= pageID %>">
    <div class="container">
      <div class="row">
        <% include partials/content/imagelist.ejs %>
      </div>
    </div>
  </body>
</html>